<!DOCTYPE html>
<html lang="en">

  <head>
      <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Pompiere|Allura|Patrick+Hand+SC|Bilbo|Reenie+Beanie|Shadows+Into+Light|Cedarville+Cursive|Amatic+SC|Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Alex+Brush|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Goblin+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
      
      
    <title>Fashion Precis</title>
  </head>
    
  <body>

      <div class="container-fluid" id = "header">
          <div class="row-fluid">
              
              
          <div class="col-xs-2 col-sm-3 col-md-2 col-md-offset-2" id = "logo">
            <a href="index.html"><img src="public/images/fplogo.png"></a>
              </div>
              
              <div class="hidden-xs col-sm-4 col-md-4" id = "slogan">
            <a href="index.html"><h2> Stay Fashionable </h2>
            <p> ___ F A S H I O N  ___  P R E C I S ___ </p> </a>
          </div>
          
          <div class="col-xs-2 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-0" id = "about">
                <p><a href="about.html">ABOUT</a></p>
              </div>
          <div class="col-xs-2 col-sm-1 col-md-1" id = "contact">
                <p><a href="contact.html">CONTACT</a></p>
              </div>
        </div>
          </div>
      
      
      <hr>
      
      <p class="text-center" id = "sorrymessage"> Sorry! Nothing to show here just yet. </p>
       <br>
           <div class="container-fluid">
           <div class="row-fluid">
               <div class="col-md-6 col-md-offset-3">
               <hr>
              <footer>
              <p class="text-center"> APRIL 2015 - POSTED BY: Grace Park </p>
              </footer>
                   </div>
           </div>
           </div>
      

</body>
</html>