#col1{
    font-family: 'Amatic SC', cursive;
}

#col2{
    font-family: 'Amatic SC', cursive;
}

#col3{
    font-family: 'Amatic SC', cursive;
}

.caption p {
    font-family: 'Droid Sans';
}


#header{
   font-family: 'Reenie Beanie', cursive;
    padding-top: 20px;
    padding-left:10px;
}

#about{
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: 8FD8D8;
    text-decoration: none;
    
}

#sorrymessage {font-family: 'Amatic SC', cursive;
font-size: 20px;}
#about a { color: #8FD8D8;}
#about a:hover {text-decoration: none; color:black;}
#contact a { color: #8FD8D8;}
#contact a:hover {text-decoration: none; color:black;}
#slogan a { color: #000;}
#slogan a:hover {text-decoration: none; color:#8FD8D8;}

.expandmenu a {color:black;}

.expandmenu a:hover{text-decoration: none; color:#8FD8D8;}

#contact{
    padding-top: 50px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: 8FD8D8;
    text-decoration: none;
}

#slogan h2 {
    font-size: 40px;
}

#slogan {
    padding-top: 20px;
}

hr {
    border-width: 5px;
}

#navbar .li {
    font-size: 40px;
}

.thumbnail {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    font-family: "Droid Sans";
    font-size: 10px;
}

.myButtonColor {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8FD8D8', endColorstr='#80b5ea',GradientType=0);
	background-color:#8FD8D8;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #5bddbe;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Amatic SC', cursive;
	font-size:15px;
	font-weight:bold;
	padding: 5px 11px;
	text-decoration:none;
}
.myButtonColor:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#72c9c9;
    text-decoration:none;
}
.myButtonColor:active {
	position:relative;
	top:1px;
}



.myButtonWhite {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0);
	background-color:#FFFFFF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #c7c7c7;
	display:inline-block;
	cursor:pointer;
	color:#888;
	font-family: 'Amatic SC', cursive;
	font-size:15px;
	font-weight:bold;
	padding: 5px 11px;
	text-decoration:none;
}
.myButtonWhite:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#d1d1d1;
    text-decoration:none;
}
.myButtonWhite:active {
	position:relative;
	top:1px;
}
